input {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: rgba(46, 44, 47, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    color: white;
    position: relative;
    width: 300px;
    height: 35px;
}


.searchBtn {
    position: absolute;
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    right: 130px;
    background-color: transparent;
    cursor: pointer;
}

.imgBtn {
    max-width: 20px;
    width: 100%;
    z-index: 1;
}

.imgBtn:hover {
    max-width: 25px;
}
